/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.blockImage {
  max-width: 200px !important;
  height: 150px !important;
}

.blockImage img {
  max-width: 200px !important;
  max-height: 150px !important;
}

.projectDetail .logos {
  max-width: 200px;
  max-height: 100px;
  margin: 20px;
}

.performer {
  margin: 10px;
  width: 90%;
}

.performer table td img {
  max-width: 200px;
}

.perftable {
  border: none !important;
  border-collapse: collapse !important;
  vertical-align: middle;
}

.perftable td,th {
  padding: 10px;
}

.blurb {
}

.soloContainer .container {
  padding: 0px !important;
}

.container {
  padding-top: 10px !important;
}

.productShowcaseSection p {
  max-width: 75% !important;
}

.mergeLogo {
  max-width: 55px;
  display: inline-block;
  margin-left: 25px;
}

.footerlogo {
    margin: 0px;
    max-width: 75px;
}
